* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(168, 6, 6);
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;

}

section {
  padding: 30px;
}

/* HEADER / NAV BAR styles */

header {
  padding: 20px 35px;
  background-color: rgb(168, 6, 6);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  font-size: 50px;
  marker: none;
  position: sticky;
  position: -webkit-sticky;
}

.main {
  display: flex;
  background-color: #FFFF;
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
  font-size: larger;
  font-size: 30px;
  box-sizing: content-box;
  width: 100%;
  border: 5px solid rgb(168, 6, 6)
}

.categories {
  border: 5px solid blue;
  margin: 0;
  justify-content: left;
}

.page-section {
  margin: 25px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  marker: none;
}

.About-me {
  text-align: left;
  display: inline-block;
  align-content: left;
  flex-direction: row;
  border: 5px solid black;
  justify-content: flex-end;
  align-items: baseline;
  width: 20%;
  border-left: 5px solid black;
}

.about-me-text {
  max-width: 80%;
  border-left: 2px solid rgb(168, 6, 6);
  padding-left: 50px;

}

.contact-me {
  display: inline-block;
  width: 15%;
  border-right: 2px solid rgb(168, 6, 6);
}

.contact-style{
  border-right: 2px solid rgb(168, 6, 6);
}
.contact-me-elements {
  color: rgb(168, 6, 6);
  display: contents;
  border-left: 2px solid rgb(168, 6, 6);
}

.contact-me-elements > a {
  color:rgb(168, 6, 6);
  text-decoration: underline;
  font-size: large;
  justify-content: space-evenly;
  width: 20%;
  font-weight: bold;
}

*/ .Work-title {
  width: 15%;

}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  padding: 10px;
  border-left: 2px solid rgb(168, 6, 6);
}

.grid-item {
  border: black 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
  size: 100%;
}

.surf-report {
  grid-column: 1 / span 2;
  grid-row: 1/ span 2;
  width: 100%;
  height: 100%;
  background: rgb(168, 6, 6) url(./images/surf-report.jpg) no-repeat fixed center;
  background-size: 809px 54;
  background-attachment: fixed;

}

.led-wall {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  height: 100%;
  background: rgb(168, 6, 6) url(./images/led-wall.jpg) no-repeat fixed center;
  background-size: 250.65px 54;
  background-attachment: fixed;
}

.react-calc {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  height: 100%;
  background: rgb(168, 6, 6) url(./images/calculator.jpg) no-repeat fixed center;
  background-size: 250.65px 54;
  background-attachment: fixed;
}

.pastel-puzzles {
  grid-column: 1;
  grid-row: 4;
  width: 100%;
  height: 100%;
  background: rgb(168, 6, 6) url(./images/pastel.jpg) no-repeat fixed center;
  background-size: 250.65px 54;
  background-attachment: fixed;
}

.runbuddy {
  grid-column: 2;
  grid-row: 4;
  width: 100%;
  height: 100%;
  background: rgb(168, 6, 6) url(./images/runbuddy.JPG) no-repeat fixed center;
  background-size: 250.65px 54;
  background-attachment: fixed;
}

header a {
  text-decoration: none;
  color: #ffff;
}

header nav {
  margin: 7px 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #ffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: row;
  list-style-type: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  align-items: right;
}

header nav ul li a:hover {
  background: rgb(168, 6, 6);
  color: #ffff;
  border-radius: 15px;
  text-shadow: none;

}

/* IMG*/
.img-headshot {
  display: flex;
  width: 300px;
  height: 200px;
  background-image: url(./images/headshot.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 70%;
  justify-content: right;
  align: center;
}


/* INTRO START */
.intro {
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: space-between;
  width: 100%;
}

.head {
  text-align: left;
  display: flex;
  font-size: 25px;
  justify-content: left;
  align-items: flex-start;
  position: static;
}

/* FOOTER STYLES START */
.footer {
  font-size: large;
  font-weight: bold;
  
}

/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */


/*Media query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  }
}


/*test*/